interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://mempool.space/api/address/1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
  response:
    body:
      string: '{"address":"1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa","chain_stats":{"funded_txo_count":80229,"funded_txo_sum":5757385722,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":66799},"mempool_stats":{"funded_txo_count":14,"funded_txo_sum":17720,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":14}}'
    headers:
      content-type:
      - application/json
      onion-location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/api/address/1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
      x-bitcoin-version:
      - /Satoshi:30.0.0(@wiz)/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://mempool.space/api/address/1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
  response:
    body:
      string: '{"address":"1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa","chain_stats":{"funded_txo_count":80229,"funded_txo_sum":5757385722,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":66799},"mempool_stats":{"funded_txo_count":14,"funded_txo_sum":17720,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":14}}'
    headers:
      content-type:
      - application/json
      onion-location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/api/address/1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
      x-bitcoin-version:
      - /Satoshi:30.0.0(@wiz)/
    status:
      code: 200
      message: OK
version: 1
